@{
    ViewBag.Title = "Category";
}
@model QWERTYShop.Models.CategoryModels
<head>
    <link rel="stylesheet" href="~/Content/Styles.css" />
</head>

<h2>@ViewBag.category</h2>

<form method="post">
    По убыванию @Html.CheckBoxFor(x => x.IsDescending)
    <select name="Method">
        @if (ViewBag.Sorted == "По рейтингу")
        {
            <option selected>По рейтингу</option>
            <option>По цене</option>
        }
        else
        {
            <option>По рейтингу</option>
            <option selected>По цене</option>
        }
    </select>
    <br />
    <p>Фильтр по цене:</p>
    От: <input type="number" min="0" name="FromPrice" value="@ViewBag.Values[0]" /> До: <input type="number" min="0" value="@ViewBag.Values[1]" name="ToPrice" />
    <br />
    <p>Фильтр по рейтингу:</p>
    От: <input type="number" min="0" max="10" name="FromRating" value="@ViewBag.Values[2]" /> До: <input type="number" min="0" name="ToRating" value="@ViewBag.Values[3]" />
    <br />
    <br />
    @{
        int i = 0;
        foreach (var property in ViewBag.Dictionary)
        {
            <p style="color: cornflowerblue">@property.Key</p>
            foreach (var value in property.Value)
            {
            <p>@Html.CheckBoxFor(x => x.Check[i]) @value.Value</p>
                i++;
            }
        }
    }
    <br/>
    <input type="submit" value="Отсортировать!" />

</form>


<div class="conatiner">
    <div class="wrap">
        @foreach (var element in ViewBag.Cards)
        {
            <div onClick='location.href="http://localhost:52905/Card/@element.Id"' class="product-item">
                @if (element.Image == null || element.Image == "")
                {
                    var relativePath = "~/Images/" + element.Id + ".jpg";
                    var absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                    if (File.Exists(absolutePath))
                    {
                        var imagePath = element.Id + ".jpg";
                        <img src="~/Images/@imagePath"/>
                    }
                    else
                    {
                        relativePath = "~/Images/" + element.Id + ".png";
                        absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                        if (File.Exists(absolutePath))
                        {
                            var imagePath = element.Id + ".png";
                            <img src="~/Images/@imagePath"/>
                        }
                        else
                        {
                            relativePath = "~/Images/" + element.Id + ".jpeg";
                            absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                            if (File.Exists(absolutePath))
                            {
                                var imagePath = element.Id + ".jpeg";
                                <img src="~/Images/@imagePath" alt="@element.Image" />
                            }
                        }
                    }
                }
                else
                {
                    <img src="@element.Image">
                }
                <div class="product-list">
                    <h3>@element.Name</h3>
                    <span class="price">₽ @element.Cost</span>
                    <h4>@Html.ActionLink("Добавить в корзину", "AddToCart", "Home", new { id = element.Id }, null)</h4>
                </div>
            </div>
        }
    </div>
</div>