@model QWERTYShop.Models.CardsModels
@{
    ViewBag.Title = "Card";
}

    <head>
        <link rel="stylesheet" href="~/Content/Styles.css">
    </head>

<h2>@Model.Name</h2>
<img src="@Model.Image">

@if (ViewBag.AverageMark != -1)
{
    <p>средняя оценка покупателей составляет @ViewBag.AverageMark</p>
}
else
{
    <p>оценок на данный товар еще нет</p>
}
<input class="buttons" value="Купить" type="submit" onClick='location.href="http://localhost:52905/AddToCard/@Model.Id"' />
<input class="buttons" value="Отзывы" type="submit" onClick='location.href="http://localhost:52905/card/@Model.Id/commentaries"' /><br />
@if (ViewBag.PurchasedId.Count != 0)
{
    <p>С этим товаром покупают:<br /></p>
    foreach (var element in ViewBag.PurchasedId)
    {
        <p>@element.Name @element.Cost @element.Image <input class="button" value="Подробнее" type="submit" onClick='location.href="http://localhost:52905/card/@element.Id"' /></p>
    }
}

@for (int i = 0; i < ViewBag.Properties.Count; i++)
{
<p>@ViewBag.NamesOfProperties[i]  :  @ViewBag.Properties[i]</p>
}
