@model QWERTYShop.Models.CartModels
@{
    ViewBag.Title = "Cart";
}
    <head>
        <link rel="stylesheet" href="~/Content/Styles.css">
    </head>
<h2 align="center">Моя корзина</h2>
<h3>@ViewBag.CartMessage</h3>
@if (Session["cart"] != null)
{
    <h6 align="right">
    <form method="post">
    <input style="min-width: 200px" class="buttons" type="submit" value="Очистить корзину" />
    <input type="text" hidden=hidden value="/" name="Method" />
    </form>
    </h6>
}

@foreach (var element in ViewBag.CartContainer)
{   <h4>Название: @Html.ActionLink($"{@element.Name}", "Card", "Home", new { id = element.Id }, null) </h4>
    <h4>Цена: @element.Cost </h4>
    <h4>Количество: @element.Count </h4>
    <form method="post">
        <input class="changer" type="submit" value="+" name="Method" />
        <input class="hid" value="@element.Id" />
        <p></p>
        <input class="changer" type="submit" value="-" name="Method" />
        <input class="hid" type="number" value="@element.Id" name="Id" />
    </form>

}
@if (ViewBag.CartPrice != "")
{
    <h3>Текущая сумма: @ViewBag.CartPrice</h3>
}
@if (Session["cart"] != null)
{
    <input  class="buttons" type="button" value="Оформить покупку" style="min-width: 220px; max-width: 75%; margin: 0 auto;padding: 0;" onClick='location.href="http://localhost:52905/home/purchaseinfo"'/>
}


<style>
    .hid {
        visibility: hidden;
    }
input.changer {
    width: 40px;
    height: 30px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font: normal 17px arial;
}

    input.changer:not(.active) {
        box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
        background-image: linear-gradient(#222222,#151515);
        text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
    }

        input.changer:not(.active):hover,
        input.changer:not(.active):focus {
            transition: color 200ms linear, text-shadow 500ms linear;
            color: rgba(255, 0, 0, 0.56);
            text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
        }

    input.changer:not(:hover) {
        transition: 0.6s;
    }
</style>
