<head>
    <link rel="stylesheet" href="~/Content/Styles.css">
</head>
<h1 style="text-align:center">Новинки:</h1>
<div class="conatiner">
    <div class="wrap">
        @foreach (var element in ViewBag.Cards)
        {
            <div onClick='location.href = "http://localhost:52905/Card/@element.Id"' class="product-item">
                @if (element.Image == null || element.Image == "")
                {
                    var relativePath = "~/Images/" + element.Id + ".jpg";
                    var absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                    if (File.Exists(absolutePath))
                    {
                        var imagePath = element.Id + ".jpg";
                        <img src="~/Images/@imagePath"/>
                    }
                    else
                    {
                        relativePath = "~/Images/" + element.Id + ".png";
                        absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                        if (File.Exists(absolutePath))
                        {
                            var imagePath = element.Id + ".png";
                            <img src="~/Images/@imagePath"/>
                        }
                        else
                        {
                            relativePath = "~/Images/" + element.Id + ".jpeg";
                            absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                            if (File.Exists(absolutePath))
                            {
                                var imagePath = element.Id + ".jpeg";
                                <img src="~/Images/@imagePath" alt="@element.Image" />
                            }
                        }
                    }
                }
                else
                {
                    <img src="@element.Image">
                }

                <div class="product-list">
                    <h3>@element.Name</h3>
                    <span class="price">₽ @element.Cost</span>
                    <h4>@Html.ActionLink("Добавить в корзину", "AddToCart", "Home", new { id = element.Id }, null)</h4>
                </div>
            </div>
        }
    </div>
</div>
@foreach (var element in ViewBag.Categories)
{
    <input class="buttons" value="@element.Type" type="submit" onClick='location.href="http://localhost:52905/category/@element.Type"' />
}
