@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/Content/Styles.css" />
</head>
<div class="index-banner">
    <div class="wmuSlider example1" style="height: 570px;">
        <div class="wmuSliderWrapper">
            <article style="position: relative; width: 100%; height:570px; opacity: 1;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="https://rozetked.me/images/uploads/nYMOWs4pJiyq.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>MacBook</h1>
                        <h2>pro 16</h2>
                        <p>200000₽</p>
                        <div class="btn"><a href="https://www.apple.com/ru/shop/buy-mac/macbook-pro/16-%D0%B4%D1%8E%D0%B9%D0%BC%D0%BE%D0%B2?afid=p238%7Cyandex_mtid_77dyiv7qg0_ykw_18958563982%7C8294385223&cid=wwa-ru-kwyx-mac">Перейти</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%; height:570px; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="https://pbs.twimg.com/media/D9CcsoGXkAMNd27.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Sony</h1>
                        <h2>Xperia 1</h2>
                        <p>59999₽</p>
                        <div class="btn"><a href="https://www.sonymobile.com/ru/products/phones/xperia-1/?utm_source=yandex&utm_medium=cpc&utm_campaign=Sony_Mobile_AO_Models_2019_YS_Rus_txt_cpc&utm_content=ch_yandex_direct|cid_47477955|gid_4019410592|ad_8263357963|ph_18865820676|crt_0|pst_premium|ps_1|srct_search|src_none|devt_desktop|ret_|geo_43|cf_0|int_|tgt_18865820676|add_no|mrlid_13915|dop_&utm_term=sony%20xperia%201&yclid=7322555811159106096">Перейти</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%;height:570px; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="https://gagadget.com/media/cache/0f/b3/0fb36816c35a64f727a866560aad4a19.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Xiaomi</h1>
                        <h2>Redmi 8</h2>
                        <p>7999₽</p>
                        <div class="btn"><a href="https://gagadget.com/redmi-8/57711-redmi-8-nachal-poluchat-globalnuyu-stabilnuyu-versiyu-miui-11-chto-novogo-i-kogda-zhdat-obnovlenie/">Перейти</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%;height:570px; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="https://i.internethaber.com/storage/files/images/2019/02/21/samsung-galaxy-buds-4Yyg_cover.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Gear IconX</h1>
                        <h3>Samsung headphones</h3>
                        <p>29999₽</p>
                        <div class="btn"><a href="https://news.rambler.ru/gadgets/43278746-samsung-vypustit-ubiytsu-airpods-pro/">Перейти</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
            <article style="position: absolute; width: 100%;height:570px; opacity: 0;">
                <div class="banner-wrap">
                    <div class="slider-left">
                        <img src="https://u.kanobu.ru/articles/pics/c761a3c4-d7df-45d6-a170-4888a6dba67d.jpg" alt="" />
                    </div>
                    <div class="slider-right">
                        <h1>Xiaomi</h1>
                        <h2>Mi Mix Alpha</h2>
                        <p>Скоро в продаже!</p>
                        <div class="btn"><a href="https://news.rambler.ru/tech/43260711-xiaomi-zapuskaet-proizvodstvo-svoego-samogo-dorogogo-smartfona/">Перейти</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
        </div>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
        <ul class="wmuSliderPagination">
            <li><a href="#" class="">0</a></li>
            <li><a href="#" class="">1</a></li>
            <li><a href="#" class="wmuActive">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a><ul class="wmuSliderPagination"><li><a href="#" class="wmuActive">0</a></li><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="">4</a></li></ul>
    </div>
    <script src="~/js/jquery.wmuSlider.js"></script>
    <script type="text/javascript" src="~/js/modernizr.custom.min.js"></script>
    <script>
        $('.example1').wmuSlider();
    </script>
</div>

<hr />

<h1 style="font-weight:600;text-align:center">Новинки:</h1>










<div class="conatiner">
        <div class="wrap">
            @foreach (var element in ViewBag.Cards)
            {
                <a style="border:none; outline:none" href="~/Card/@element.Id">
                    <div class="product-item">
                        @if (element.Image == null || element.Image == "")
                        {
                            var relativePath = "~/Images/" + element.Id + ".jpg";
                            var absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                            if (File.Exists(absolutePath))
                            {
                                var imagePath = element.Id + ".jpg";
                                <img src="~/Images/@imagePath" />
                            }
                            else
                            {
                                relativePath = "~/Images/" + element.Id + ".png";
                                absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                                if (File.Exists(absolutePath))
                                {
                                    var imagePath = element.Id + ".png";
                                    <img src="~/Images/@imagePath" />
                                }
                                else
                                {
                                    relativePath = "~/Images/" + element.Id + ".jpeg";
                                    absolutePath = HttpContext.Current.Server.MapPath(relativePath);
                                    if (File.Exists(absolutePath))
                                    {
                                        var imagePath = element.Id + ".jpeg";
                                        <img src="~/Images/@imagePath" alt="@element.Image" />
                                    }
                                }
                            }
                        }
                        else
                        {
                            <img src="@element.Image">
                        }

                        <div class="product-list">
                            <h3>@element.Name</h3>
                            <span class="price">₽ @element.Cost</span>
                            <h4>@Html.ActionLink("Добавить в корзину", "AddToCart", "Home", new { id = element.Id }, null)</h4>
                        </div>
                    </div>
                </a>
            }
        </div>
</div>