@model QWERTYShop.Models.CurrentOrdersCheckModels
@{
    ViewBag.Title = "CurrentOrders";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $(".dropdown img.flag").addClass("flagvisibility");

                $(".dropdown dt a").click(function () {
                    $(".dropdown dd ul").toggle();
                });

                $(".dropdown dd ul li a").click(function () {
                    var text = $(this).html();
                    $(".dropdown dt a span").html(text);
                    $(".dropdown dd ul").hide();
                    $("#result").html("Selected value is: " + getSelectedValue("sample"));
                });

                function getSelectedValue(id) {
                    return $("#" + id).find("dt a span.value").html();
                }

                $(document).bind('click', function (e) {
                    var $clicked = $(e.target);
                    if (!$clicked.parents().hasClass("dropdown"))
                        $(".dropdown dd ul").hide();
                });


                $("#flagSwitcher").click(function () {
                    $(".dropdown img.flag").toggleClass("flagvisibility");
                });
            });
    </script>
    <!-- start menu -->
    <link href="~/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <!-- end menu -->
    <!-- top scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
                });
            });
    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrap">
        <h2>Текущие заказы</h2>
        <form method="post">
            @Html.LabelFor(x => x.Mail)
            <br />
            <input style="width:150px;border:none;border-top:groove;border-left:groove;" data-val="true" data-val-required="Заполните это поле!" id="Mail" name="Mail" type="text">
            <text style="color:red; padding-left:20px">@Html.ValidationMessageFor(x => x.Mail)</text>

            <hr />
            @Html.LabelFor(x => x.Id)
            <br />
            <input style="width:150px;border:none;border-top:groove;border-left:groove;" data-val="true" data-val-number="Значением поля Введите номер заказа, его можно посмотреть на Вашей электронной почте должно быть число." data-val-required="Заполните это поле!" id="Id" name="Id" type="text">
            <text style="color:red; padding-left:20px">@Html.ValidationMessageFor(x => x.Id)</text>
            <hr />
            <div class="form-group">
                <div class="buttons">
                    <button value="" class="grey">Получить</button>
                </div>
            </div>
        </form>

        <text style="color:red; padding-left:20px">@ViewBag.NotFound</text>
        @if (@ViewBag.CurrentOrders != null)
        {
            foreach (var element in ViewBag.CurrentOrders)
            {
                <p>Номер заказа: @element.Id</p>
                if (@element.Condition == "handles")
                {
                    <p>Ваш заказ находится на стадии обработки!</p>
                }
                if (@element.Condition == "delivers")
                {
                    <p>Ваш заказ доставляется!</p>
                }
                if (@element.Condition == "ready to pickup")
                {
                    <p>Ваш заказ находится в центре самовывоза! Можете его забирать!</p>
                }
                if (@element.Delivery == "Самовывоз")
                {
                    <p>Вы выбрали самовывоз</p>
                }
                if (@element.Delivery == "Доставка до квартиры")
                {
                    <p>Вы выбрали доставку до квартиры</p>
                }
                if (@element.Paid == true)
                {
                    <p>Напоминаем, что вы уже оплатили заказ!</p>
                }
                <br />
            }
        }
    </div>
</body>