
@{
    ViewData["Title"] = "Регистрация";
}
@model Registration
<form method="post" align="center">
    @Html.LabelFor(model => model.Login)
    @Html.ValidationMessageFor(model => model.Login)
    <br />
    <input type="text" name="Login" required maxlength="20" />
    <br />
    @Html.LabelFor(model => model.Password)
    @Html.ValidationMessageFor(model => model.Password)
    <br />
    <input type="password" name="Password" required maxlength="20" />
    <br />
    @Html.LabelFor(model => model.RePassword)
    @Html.ValidationMessageFor(model => model.RePassword)
    <br />
    <input type="password" name="RePassword" required maxlength="20" />
    <br />
    <br />
    <input type="submit" value="Отправить" />
    <p>@ViewBag.Message</p>
    
</form>