@model QWERTYShop.Models.FilteringModels
@{
    ViewBag.Title = "View";
}

<h2>Меню управления фильтров</h2>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
<form method="post">
    <select name="Category">
        @foreach (var element in ViewBag.Categories)
        {
            <option>@element</option>
        }
    </select>
    <input type="submit" value="Выбрать категорию" />
</form>
<br />
@if (ViewBag.Category != "")
{
    <p>Выбранная категория: @ViewBag.Category</p>
}
@if (ViewBag.Properties.Count > 0)
{
    <p style="font-weight: bold">Доступные к добавлению свойства:</p>
}
@foreach (var element in ViewBag.Properties)
{
    <form method="post">
        <p>
            @element
            <input name="Operation" value="Добавить фильтр" hidden />
            <input name="Property" value="@element" hidden />
            <input name="Category" value="@ViewBag.Category" hidden />
            <input type="submit" value="Добавить" />
        </p>
    </form>
}
@if (ViewBag.Filters.Count > 0)
{
    <p style="font-weight: bold">Фильтрация добавлена по следующим свойствам:</p>
}
@foreach (var element in ViewBag.Filters)
{
    <form method="post">
        <p>
            @element
            <input name="Operation" value="Удалить" hidden />
            <input name="Property" value="@element" hidden />
            <input name="Category" value="@ViewBag.Category" hidden />
            <input type="submit" value="Удалить" />
        </p>
    </form>
}
