<h1 align="center">Управление сайтом</h1>
<h2>Управление товарами</h2>
<p>@Html.ActionLink("Меню добавления категорий", "AddNewType", "Managment")</p>
<p>@Html.ActionLink("Меню добавления ключевых характеристик категории", "AddPropertiesToType", "Managment")</p>
<p>@Html.ActionLink("Меню управления фильтрами", "Filtering", "Managment")</p>
<p>@Html.ActionLink("Меню добавления карточек", "AddNewCard", "Managment")</p>

<h2>Управление городами</h2>
<p>@Html.ActionLink("Меню добавления городов", "AddNewCity", "Managment")</p>
<p>@Html.ActionLink("Меню добавления точек самовывоза", "PickupLocation", "Managment")</p>

<h2>Управление заказами</h2>
<p>@Html.ActionLink("Меню управления заказами", "PurchaseManagment", "Managment")</p>