@model QWERTYShop.Models.ManagmentSortModels
<h3 align="center">Представление базы данных</h3>
<form method="post">
    <input align="right" type="submit" value="Remove" name="Remove">

    <p>Сортировка по:</p>

    <input type="submit" value="ID" name="Id" readonly />
    <input type="submit" value="Name" name="Name" readonly />
    <input type="submit" value="Type" name="Type" readonly /><br/>
    @Html.CheckBoxFor(x => x.isDescending) По убыванию
</form>
<p align="left"> @Html.ActionLink("Вернуться к добавлению", "AddNewCard", "Managment") </p>
<p align="left"> @Html.ActionLink("Вернуться к управлению", "Index", "Managment") </p>

@foreach (var element in ViewBag.Data)
{
    <p>@element.Id</p>
    <p>@element.Cost</p>
    <p>@element.Type</p>
    <p>@element.Name</p>
}