@model QWERTYShop.Models.ManagmentSortModels
<head>
    <link rel="stylesheet" href="~/Content/Styles.css">
</head>
<h1 align="center">Представление базы данных</h1>

<form method="post">
    <input class="buttons" align="right" type="submit" value="Remove last" name="Remove">

    <p class="">Сортировка по:</p>

    <input class="buttons" type="submit" value="ID" name="Id" readonly />
    <input class="buttons" type="submit" value="Name" name="Name" readonly />
    <input class="buttons" type="submit" value="Type" name="Type" readonly /><br />
    @Html.CheckBoxFor(x => x.isDescending) По убыванию
</form>
<p align="left"> @Html.ActionLink("Вернуться к добавлению", "AddNewCard", "Managment") </p>
<p align="left"> @Html.ActionLink("Вернуться к управлению", "Index", "Managment") </p>
<table width="1000" cellpadding="10" border="1">
    <tr>
        <td class="nev">ID</td>
        <td class="nev">Name</td>
        <td class="nev">Type</td>
        <td class="nev">Cost</td>
        <td class="nev">Information</td>
    </tr>
    @foreach (var element in ViewBag.Data)
    {
        <tr>
            <td align="center">@element.Id</td>
            <td align="center">@element.Name</td>
            <td align="center">@element.Type</td>
            <td align="center">@element.Cost</td>
            <td align="center">@element.Information</td>
        </tr>
    }
</table>

<style>
</style>

